
//Global colors
$white-color: rgba(255, 255, 255, 1);
$black-color: rgba(0, 0, 0, 1);

//Header, Footer, Nav Color
$app-header-bg-color: rgba(52,184,118, 1);
$app-footer-bg-color: rgba(52,184,118, 1);
$app-navSideBar-bg-color: #7f7f7f;