@import '../../../static/css/application-colors';

.mainLayoutDivGrid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 362px;
}

@media (min-width: 750px) {
  .mainLayoutDivGrid {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    min-width: 362px;
  }
}

header {
  grid-column: span 3;
  text-align: left;
  font-size: 1.4em;
  background-color: $app-header-bg-color;
  color: white;
  padding: 30px;
}

main {
  flex: 1;
  padding: 20px;
}

nav {
  background: linear-gradient(120deg, rgba(36, 138, 82, 1), rgba(37, 114, 135, 1));
  height: 80px;
}

@media (min-width: 750px) {
  nav {
    background: linear-gradient(120deg, rgba(36, 138, 82, 1), rgba(37, 114, 135, 1));
    height: 100%;
  }
}

aside {
  background-color: $white-color;
  padding: 20px;
}

footer {
  grid-column: span 3;
  text-align: center;
  font-size: 1.4em;
  background-color: $app-footer-bg-color;
  color: white;
  padding: 30px;
}